<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/_vaibhav_kaushal/?next=%2F" style="color: inherit;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/vaibhav-kaushal-696568246/" style="color: inherit;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/vaibhav212201" style="color: inherit;"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderInn Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>